<%- include header %>
<div>
    <form action="/search" method="get" class="pull-left form-inline">
        <input type="text" placeholder="中文姓名/学号" name="searchkey"  class="form-control" />
        <button type="submit" class="btn btn-success">搜索</button>
    </form>
</div>

<%- include list %>